<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from Rotten Mangoes!</h1>
    <p>
      <%= @user.full_name %>, your profile has been deleted from Rotten Mangoes. <br>
    </p>

    <p>We at Rotten Mangoes hope that you return in the future!</p>
  </body>
</html>