// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 100% !important;
}

.show-image {
  overflow: hidden;
  max-height: 400px;
  padding: 2px;
  float:left;
  margin-right: 20px;
}

.image {
  width: 100%;
  overflow: hidden;
  max-height:270px;
  padding: 2px;
}

.image-div {
  padding: 2px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   max-height: 271px !important;
}

* {
  font-size: 100%;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.movie-index-box .row img {
  float:left;
  margin-right: 20px;
  margin-top: 20px;
}

.new-movie-form {
  border-style:solid;
  border-width:2px;
  padding: 10px 10px 10px 10px;
}


#fixed-box {
  top: 55px;
  position:relative;
}

.fixed-paragraph {
  float: left;
  margin-bottom:0px;
  margin-top:8px;
  margin-right:10px;
}

.movie-index-box {
  margin-bottom:20px;
  margin-top:12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right:10px;
}

.back-movie {
  margin-left: 20px;
}

.write-review {
  float:right;
  margin-bottom:30px;
  text-decoration:none;
}

.write-review:hover {
  text-decoration:none;
}

.movie-reviews {
  border-style:solid;
  border-width:2px;
  padding: 10px 10px 10px 10px;
  margin-top:40px;
  border-radius: 5px;
}

.float-left {
  float:left;
}

p {
  font-size:10px;
}
